.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  color: white;
  padding: 5px;
}

.botonesBarra {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
}

.botonTotal {
  background-color: black;
  color: lightblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 2px;
}

.espaciado {
  margin: 0 2px;
}
